@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding: 0;
  background-color: #F8F9FA;

}

.navbar-nav > li {
  padding-right: 30px;
}
.nav-item a {
  font-size: 20px;
}
#header h1 {
    font-family: 'Montserrat', sans-serif;
}

#header p {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;


}


#footer {
    position: relative;
    height: 70px;
    background-color: #F8F9FA;
}

.text-center  {
  font-size: 20px;
}
.container-fluid  {
    text-align: center;

}

.socials ul{
    list-style: none;
    display: inline;
    text-decoration: none;
}
.socials li {
       text-align: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
}

.socials a {
    color: #c7c7c7;
    margin-right: 50px;
}

.socials a:hover {
    color: #DC5A0C;
}
